.highlight pre {
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  background-color: #232323;
  color: #E6E0DB;
  padding: 0.25em;
}

.ruby .n { color:#E7BE69 }                      /* html attribute */
.ruby .s2,
.ruby .s1{ color:#A4C260 }                      /* string */
.ruby .k { color:#CB7832 }                      /* keyword */
.ruby .no { color:#FFF }                         /* constant */
.ruby .c1  { color:#BC9358; font-style: italic; } /* comment */

.ruby .ch { color:#509E4F }                      /* escaped character */
.ruby .class { color:#FFF }                         /* class */
.ruby .predefined-constant { color:#FFF }                         /* constant */
.ruby .float { color:#A4C260 }                      /* float */
.ruby .function { color:#FFC56D }                      /* function */
.ruby .global-variable { color:#D0CFFE }                      /* global variable */
.ruby .integer  { color:#A4C260 }                      /* integer */
.ruby .inline-code { background:#151515 }                 /* inline code */
.ruby .instance-variable { color:#D0CFFE }                      /* instance variable */
.ruby .pp { color:#E7BE69 }                      /* doctype */
.ruby .r  { color:#CB7832 }                      /* keyword */
.ruby .rx { color:#A4C260 }                      /* regex */
.ruby .symbol { color:#6C9CBD }                      /* symbol */
.ruby .tag { color:#E7BE69 }                      /* html tag */
.ruby .pc { color:#6C9CBD }                      /* boolean */
